<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
</h2>

    <p> has given <%= pluralize(@user.ratings.count, 'rating') %>
      <% if not @user.ratings.empty? %>
      	, average <%= @user.average_rating %>
      <% end %>
    </p>
    <% if not @user.ratings.empty? %>
      <p><%= "favorite style: #{@user.favorite_style}"%></p>
      <p><%= "favorite brewery: #{@user.favorite_brewery}"%></p>
    <% end%>

    <table class="table table-hover">
      <% @user.ratings.each do |rating| %>
        <tr> <td> <%= rating %> 
          <% if currently_signed_in?(rating.user) %>
            <%= link_to 'delete', rating, :method => :delete, :data => { :confirm => 'Are you sure?' } %> 
          <% end %></td>
        </tr>
      <% end %>
    </table>

<% if currently_signed_in?(@user) %>
  <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-primary" %>
  <%= link_to 'Destroy',@user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
<% end %>
